# Entornos virtuales de Python
venv/
__pycache__/
*.pyc

# Archivos de entorno
.env

# Dependencias de Node.js
node_modules/

# Archivos de build y logs de npm
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del editor
.vscode/
.idea/